*.conf text eol=lf
*.json text eol=lf
*.html text eol=lf
*.md text eol=lf
*.md5 text eol=lf
*.pl text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
LICENSE text eol=lf
COMMITMENT text eol=lf

*_ binary
*.dll binary
*.pdf binary
*.so binary
*.wav binary
*.zip binary
*.x32 binary
*.x64 binary
*.exe binary
*.sln binary
*.vcproj binary
