output/
__pycache__/
*.py[cod]
.sqlmap_history
traffic.txt
*~
req*.txt
.idea/
.aider*
.DS_Store
.github/.DS_Store
data/.DS_Store
extra/.DS_Store
lib/.DS_Store
plugins/.DS_Store
thirdparty/.DS_Store
CLAUDE.md
.coverage
