language: python
sudo: false
git:
    depth: 1
python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.6"
script:
    - python -c "import sqlmap; import sqlmapapi"
    - python sqlmap.py --smoke
    - python sqlmap.py --vuln