<?xml version="1.0" encoding="UTF-8"?>

<root>
    <!-- Apache -->
    <regexp value="Apache$">
        <info technology="Apache"/>
    </regexp>

    <regexp value="Apache/([\w\.]+)">
        <info technology="Apache" tech_version="1"/>
    </regexp>

    <regexp value="Apache[\-\_\ ]AdvancedExtranetServer/([\w\.]+)">
        <info technology="Apache" tech_version="1"/>
    </regexp>

    <!-- Apache: CentOS -->
    <!-- TODO: add Centos 4.6, 4.7, 5.1 and 5.2 -->

    <regexp value="Apache/2.0.46 \(CentOS\)">
        <info type="Linux" distrib="CentOS" elease="3.7"/>
    </regexp>

    <regexp value="Apache/2.0.52 \(CentOS\)">
        <info type="Linux" distrib="CentOS" release="4.3|4.4"/>
    </regexp>

    <regexp value="Apache/2.0.46 \(CentOS\)">
        <info type="Linux" distrib="CentOS" release="5"/>
    </regexp>

    <!-- Apache: Fedora -->
    <!-- TODO: add Fedora 8, 9 and 10 -->

    <regexp value="Apache/2.0.47 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="1"/>
    </regexp>

    <regexp value="Apache/2.0.50 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="1" updated="True"/>
    </regexp>

    <regexp value="Apache/2.0.49 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="2"/>
    </regexp>

    <regexp value="Apache/2.0.51 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="2" updated="True"/>
    </regexp>

    <regexp value="Apache/2.0.52 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="3"/>
    </regexp>

    <regexp value="Apache/2.0.53 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="3" updated="True"/>
    </regexp>

    <regexp value="Apache/2.0.54 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="4"/>
    </regexp>

    <regexp value="Apache/2.2.0 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="5"/>
    </regexp>

    <regexp value="Apache/2.2.2 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="5" updated="True"/>
    </regexp>

    <regexp value="Apache/2.2.3 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="6"/>
    </regexp>

    <regexp value="Apache/2.2.4 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="7"/>
    </regexp>

    <regexp value="Apache/2.2.6 \(Fedora\)">
        <info type="Linux" distrib="Fedora" release="6|7" updated="True"/>
    </regexp>

    <!-- Apache: Red Hat -->
    <!-- TODO: add Red Hat 5, 5.1, 5.2 and 5.3 -->

    <regexp value="Apache/1.2.6 Red Hat">
        <info type="Linux" distrib="Red Hat" release="5.1"/>
    </regexp>

    <regexp value="Apache/1.3.3 \(Unix\)\s+\(Red Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="5.2"/>
    </regexp>

    <regexp value="Apache/1.3.6 \(Unix\)\s+\(Red Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="6.0"/>
    </regexp>

    <regexp value="Apache/1.3.9 \(Unix\)  \(Red Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="6.1"/>
    </regexp>
    
    <regexp value="Apache/1.3.12 \(Unix\)  \(Red Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="7.0"/>
    </regexp>
	
    <regexp value="Apache/1.3.19 \(Unix\)  \(Red-Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="7.1"/>
    </regexp>
 	
    <regexp value="Apache/1.3.20 \(Unix\)  \(Red-Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="7.2"/>
    </regexp>
 	
    <regexp value="Apache/1.3.23 \(Unix\)  \(Red-Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="7.3"/>
    </regexp>
 	
 	<regexp value="Apache/1.3.27 \(Unix\)  \(Red-Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="7.1|7.2|7.3" updated="True"/>
    </regexp>

    <regexp value="Apache/2.0.40 \(Red Hat Linux\)">
        <info type="Linux" distrib="Red Hat" release="8.0|9"/>
    </regexp>
    
    <regexp value="Apache/1.3.22 \(Unix\)  \(Red-Hat/Linux\)">
        <info type="Linux" distrib="Red Hat" release="Enterprise 2.1"/>
    </regexp>

    <regexp value="Apache/2.0.46 \(Red Hat\)">
        <info type="Linux" distrib="Red Hat" release="Enterprise 3"/>
    </regexp>

    <regexp value="Apache/2.0.52 \(Red Hat\)">
        <info type="Linux" distrib="Red Hat" release="Enterprise 4"/>
    </regexp>

    <!-- Apache: Debian -->
    <!-- TODO: add Debian testing, unstable and experimental -->

    <regexp value="Apache/1.0.5 \(Unix\) Debian/GNU">
        <info type="Linux" distrib="Debian" release="1.1"/>
    </regexp>

    <regexp value="Apache/1.1.1 \(Unix\) Debian/GNU">
        <info type="Linux" distrib="Debian" release="1.2"/>
    </regexp>

    <regexp value="Apache/1.1.3 \(Unix\) Debian/GNU">
        <info type="Linux" distrib="Debian" release="1.3"/>
    </regexp>

    <regexp value="Apache/1.3.0 \(Unix\) Debian/GNU">
        <info type="Linux" distrib="Debian" release="2.0"/>
    </regexp>

    <regexp value="Apache/1.3.3 \(Unix\) Debian/GNU">
        <info type="Linux" distrib="Debian" release="2.1"/>
    </regexp>

    <regexp value="Apache/1.3.9 \(Unix\) Debian\/GNU">
        <info type="Linux" distrib="Debian" release="2.2"/>
    </regexp>

    <regexp value="Apache/1.3.26 \(Debian GNU\/Linux\)">
        <info type="Linux" distrib="Debian" release="3.0"/>
    </regexp>

    <regexp value="Apache/1.3.33 \(Debian GNU\/Linux\)">
        <info type="Linux" distrib="Debian" release="3.1"/>
    </regexp>

    <regexp value="Apache/2.0.54 \(Debian GNU\/Linux\)">
        <info type="Linux" distrib="Debian" release="3.1"/>
    </regexp>

    <regexp value="Apache/2.2.3 \(Debian\)">
        <info type="Linux" distrib="Debian" release="4.0"/>
    </regexp>

    <regexp value="Apache/2.2.6 \(Debian\)">
        <info type="Linux" distrib="Debian" release="4.0" updated="True"/>
    </regexp>

    <!-- Apache: Ubuntu -->

    <regexp value="Apache/2.0.50 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="4.10"/>
    </regexp>

    <regexp value="Apache/2.0.53 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="5.04"/>
    </regexp>

    <regexp value="Apache/2.0.54 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="5.10"/>
    </regexp>

    <regexp value="Apache/2.0.55 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="6.06|6.10"/>
    </regexp>

    <regexp value="Apache/2.2.3 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="7.04"/>
    </regexp>

    <regexp value="Apache/2.2.4 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="7.10"/>
    </regexp>

    <regexp value="Apache/2.2.8 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="8.04"/>
    </regexp>

    <regexp value="Apache/2.2.9 \(Ubuntu\)">
        <info type="Linux" distrib="Ubuntu" release="8.10"/>
    </regexp>

    <!-- Apache: Mandrake / Mandriva -->
    <!-- TODO: add Mandriva 2007.1, 2008.0, 2008.1 and 2009.0 -->

    <regexp value="Apache/1.3.6 \(Unix\)\s+\(Mandrake/Linux\)">
        <info type="Linux" distrib="Mandrake" release="6.0"/>
    </regexp>

    <regexp value="Apache/1.3.9 \(Unix\)\s+\(NetRevolution Advanced Server/Linux-Mandrake\)">
        <info type="Linux" distrib="Mandrake" release="6.1|7.0"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.12 \(NetRevolution/Linux-Mandrake\)">
        <info type="Linux" distrib="Mandrake" release="7.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.14 \(Linux-Mandrake/">
        <info type="Linux" distrib="Mandrake" release="7.2"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.19 \(Linux-Mandrake/">
        <info type="Linux" distrib="Mandrake" release="8.0"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.20 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="8.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.23 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="8.2"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.26 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="9.0"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.27 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="9.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.44 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="9.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.28 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="9.2"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.47 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="9.1|9.2"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.29 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="10.0"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.48 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="10.0"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/1.3.31 \(Linux-Mandrake/">
        <info type="Linux" distrib="Mandrake" release="10.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.50 \(Mandrake Linux/">
        <info type="Linux" distrib="Mandrake" release="10.0|10.1"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.53 \(Mandriva Linux/">
        <info type="Linux" distrib="Mandrake" release="10.2"/>
    </regexp>

    <regexp value="Apache-AdvancedExtranetServer/2.0.54 \(Mandriva Linux/">
        <info type="Linux" distrib="Mandrake" release="2006.0"/>
    </regexp>

    <regexp value="Apache/2.2.3 \(Mandriva Linux/">
        <info type="Linux" distrib="Mandrake" release="2007"/>
    </regexp>

    <!-- Apache: SuSE -->
    <!-- TODO: add SuSE 10.1, 10.2, 10.3 and 11.0 -->

    <regexp value="Apache/1.3.6 \(Unix\) \(SuSE/Linux\)">
        <info type="Linux" distrib="SuSE" release="6.1"/>
    </regexp>

    <regexp value="Apache/1.3.9 \(Unix\) \(SuSE/Linux\)">
        <info type="Linux" distrib="SuSE" release="6.2"/>
    </regexp>

    <regexp value="Apache/1.3.12 \(Unix\) \(SuSE/Linux\)">
        <info technology="operating-system.type" type="str" value="Linux"/>
        <info type="Linux" distrib="SuSE" release="6.4|7.0"/>
    </regexp>

    <regexp value="Apache/1.3.17 \(Unix\) \(SuSE/Linux\)">
        <info type="Linux" distrib="SuSE" release="7.1"/>
    </regexp>

    <regexp value="Apache/1.3.19 \(Unix\) \(SuSE/Linux\)">
        <info type="Linux" distrib="SuSE" release="7.2"/>
    </regexp>

    <regexp value="Apache/1.3.20 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="7.3"/>
    </regexp>

    <regexp value="Apache/1.3.23 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="8.0"/>
    </regexp>

    <regexp value="Apache/1.3.26 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="8.1"/>
    </regexp>

    <regexp value="Apache/1.3.27 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="8.2"/>
    </regexp>

    <regexp value="Apache/1.3.28 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="9.0"/>
    </regexp>

    <regexp value="Apache/2.0.40 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="8.1"/>
    </regexp>

    <regexp value="Apache/2.0.44 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="8.2"/>
    </regexp>

    <regexp value="Apache/2.0.47 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="9.0"/>
    </regexp>

    <regexp value="Apache/2.0.49 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="9.1"/>
    </regexp>

    <regexp value="Apache/2.0.50 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="9.2"/>
    </regexp>

    <regexp value="Apache/2.0.53 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="9.3"/>
    </regexp>

    <regexp value="Apache/2.0.54 \(Linux/SuSE\)">
        <info type="Linux" distrib="SuSE" release="10.0"/>
    </regexp>
</root>
